* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
}

.date-time {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: max-content;
  padding: 0.2em 0.3em;
  /* border: 3px solid #2e94e3; */
  border-radius: 5px;
  transition: 0.5s;
  transition-property: background-color, box-shadow;
  /* word-spacing: 20px; */
}
/* 
.tanggal-hari {
  display: flex;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 3px;
} */

.date-time:hover {
  background-color: #2e94e3;
  box-shadow: 0 0 30px #2e94e3;
}

.tanggal-hari {
  font-size: 1em;
  /* font-weight: 600; */
  text-align: center;
  letter-spacing: 2px;
}

.jam {
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .jam span:not(:last-child) {
  position: relative;
  margin: 0 6px;
  font-weight: 600;
  text-align: center;
  /* letter-spacing: 3px; */
/* } */

/* .span:last-child {
  background: #2e94e3;
  /* font-size: 1.5rem; */
  /* text-transform: uppercase; */
  /* margin-top: 10px;
  padding: 0 5px;
  border-radius: 3px;
} */ 
